.class
.log
.env

.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot
project/plugins/project/

.idea
.iml
.ipr
.iws
out

build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
/bin/